<div class="container">
  <div class="header">Add A Vehicle</div>
<form [formGroup]="createForm" (submit)="createVehicle(createForm.value)">
<mat-form-field>
  <input type="text" matInput placeholder="Name" formControlName="name" required>
  <mat-error *ngIf="!createForm.get('name').hasError('required')">Please Fill This Field</mat-error>
</mat-form-field>
<mat-form-field>
  <input type="number"  matInput placeholder="Capacity" formControlName="capacity" required>
  <mat-error *ngIf="!createForm.get('capacity').hasError('required')">Please Fill This Field</mat-error>
</mat-form-field>
<button type="submit" class="btn btn-success" [disabled]="createForm.invalid">Submit</button>
<button (click)="closeDialog()"  class="btn btn-danger">Cancel</button>
</form>
</div>
