td, th {
  width: 25%;
}

table {
  width: 100%;
}

.createButton{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 5px;
}

.card-header{
  background-color: forestgreen;
}
