/* .main {
  text-align:center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

#map {
  height: 500px; /* like this */

}

.card-header{
  background-color: darkcyan;
}
