<div class="card">
  <div class="card-body">

<h2 class="page-header" style="text-align: center">Enter Your Registered Email</h2>



<!-- Login Form -->
<form [formGroup]="form" (submit)="onSubmit()">

<!-- Username Field -->
<div class="form-group mb-1">

<div [ngClass]="{'has-error': form.controls.email.errors && form.controls.email.dirty, 'has-success': form.controls.email.valid && form.controls.email.dirty }">
<input class="form-control" type="text" name="email" formControlName="email" placeholder="Email"/>
<!-- Validation -->

<div *ngIf="form.controls['email'].errors?.required && form.controls['email'].dirty">This field is required.</div>

</div>
</div>

<a [routerLink]="['/login']" routerLinkActive="router-link-active" >Back To Login?</a>
<br>
<div *ngIf="infoMessage">{{infoMessage}}</div>
<br>
<!-- Submit Button -->
<button  [disabled]="!form.valid || processing" class="btn " type="submit" >Submit</button>
</form>
</div>
</div>


