<div class="container">
  <div class="header">Add A Student</div>
  <form [formGroup]='createForm' (submit)="createStudent(createForm.value)">
    <mat-form-field>
      <input type="text"  matInput placeholder="Student Name" formControlName="name" required>
      <mat-error *ngIf="!createForm.get('name').hasError('required')">Please Fill This Field</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="number"  matInput placeholder="Student Class" formControlName="class" required>
      <mat-error *ngIf="!createForm.get('class').hasError('required')">Please Fill This Field</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="text"  matInput placeholder="School" formControlName="school" required>
      <mat-error *ngIf="!createForm.get('school').hasError('required')">Please Fill This Field</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="text"  matInput placeholder="Stop" formControlName="stop" required>
      <mat-error *ngIf="!createForm.get('stop').hasError('required')">Please Fill This Field</mat-error>
    </mat-form-field>
    <button type="submit" class="btn btn-success" [disabled]="createForm.invalid" >Submit</button>
    <button (click)="closeDialog()"  class="btn btn-danger">Cancel</button>
  </form>
</div>
